div.sidebar-layout {
    display:flex;
    flex-direction: column;
    flex: 0 1 0px;
    min-width: 100px;

    position:fixed;
    background-color: #fff3e1;
    height: 100vh;

}
.logo {
    align-self: start;
}
.logo img {
    width: 100%;
    height:300px;
}

nav.nav-layout {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    gap: 5rem
}
nav.nav-layout > * svg {
    min-width: 100px
}
nav.nav-layout > * :hover {
    color: #99d9ea
}
nav.nav-layout > *.active {
    color:#99d9ea
}
